<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/background.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">

    <title>Hello page</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a href="main">here</a> to see a greeting.</p>
<footer class="footer">
    <span class="name">Гурин Евгений Иванович</span>
    <span class="variant">Вариант 212006</span>
    <span class="group">Группа P3212</span>
</footer>
</body>
</html>